@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo';
}

body{
    background: rgba(0, 0, 0, 0.95);
    color: rgb(255, 255, 255);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /* background: rgba(0, 0, 0, 0.755); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 28px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.header a:hover,
.header a.active {
    color: rgb(255, 229, 184);
}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    margin-left: 60px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: rgb(255, 229, 184);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    /* background: url('balbam.png') no-repeat;
    background-size: cover; */
}

.home-content {
    max-width: 600px;
    /* margin-bottom: 30px; */
    /* color: aqua; */
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    /* background: thistle; */
}

.name {
    color: rgb(173, 200, 212);
}

.contact_link a {
    color: rgb(228, 251, 255);
    text-decoration: none;
    margin-left: 5px;
    font-size: 18px;
}

.contact_link a:hover,
.contact_link a.active {
    color: rgb(255, 229, 184);
}

.download_link a {
    color: rgb(228, 251, 255);
    text-decoration: none;
    /* margin-left: 5px; */
    font-size: 15px;
}

.download_link a:hover,
.download_link a.active {
    color: rgb(255, 229, 184);
}

.balbam {
    width: 900px;
    height: 350px;
}